 #rec292912613 .t142__wraptwo a {
        display:flex;
        justify-content: center;
    }
#rec292912613 .t-btn {
    display:flex!important;
    justify-content:center!important;
    align-items:center!important;
    padding:25px 0!important;
    width:460px!important;
    background-image:-moz-linear-gradient(90deg,#3d8dc4 0%,#62b7ea 100%);
    background-image:-webkit-linear-gradient(90deg,#3d8dc4 0%,#62b7ea 100%);
    background-image:-ms-linear-gradient(90deg,#3d8dc4 0%,#62b7ea 100%)
}
#rec292912613 .t142__text{
    width:370px!important;
    display:flex!important;
    justify-content:center!important;
    align-items:center;
    font-size:35px!important;
    padding:20px 0!important;
    background-image:url(https://i.ibb.co/1TZKhGG/icon-telegram.png)!important;
    background-repeat:no-repeat!important;
    background-position-y:center;
}
    
@media (max-width: 640px){
    #rec292912613 .t-btn{
        width:200px!important;
        padding:2px 0 2px 25px !important}

    #rec292912613 .t142__text{
        width:180px!important;
        font-size:21px!important;
        background-image:url(https://i.ibb.co/Cnm7vG1/icon-telegram-mob.png)!important;
        background-repeat:no-repeat!important;background-position-y:center;
        }
 }
